<div class="eventos-container">
    <div class="search-bar">
      <input type="text" placeholder="Buscar evento..." />
      <input type="date" />
    </div>
    <div class="eventos-list">
      <div *ngFor="let evento of eventos" class="evento-card">
        <img [src]="evento.imagenUrl" alt="Evento Image" />
        <h3>{{ evento.nombre }}</h3>
        <p>{{ evento.descripcion }}</p>
        <p>{{ evento.fecha | date }}</p>
        <p>{{ evento.precio | currency }}</p>
        <a [routerLink]="['/evento', evento.idEvento]">Ver más</a>
      </div>
    </div>
  </div>
  