<app-header></app-header>

<div class="date-picker-container">
  <mat-form-field appearance="fill">
    <mat-label>Seleccionar fecha</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div class="events-container">
  <div class="event-card" *ngFor="let event of events" (click)="openEventDetails(event)">
    <img [src]="event.imagenUrl ? event.imagenUrl : 'assets/default-image.png'" alt="Event image">
    <h3>{{ event.nombre }}</h3>
    <p>{{ event.fecha | date }}</p>
    <p class="no-entradas" *ngIf="event.entradasDisponibles <= 0">No quedan entradas disponibles</p>
  </div>
</div>

<app-footer></app-footer>
