<div class="admin-container">
  <h1>Gestión de Compras</h1>
  <table mat-table [dataSource]="purchases" class="mat-elevation-z8">
    <ng-container matColumnDef="idCompra">
      <th mat-header-cell *matHeaderCellDef> ID Compra </th>
      <td mat-cell *matCellDef="let purchase"> {{ purchase.idCompra }} </td>
    </ng-container>

    <ng-container matColumnDef="clienteNombre">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let purchase"> {{ purchase.clienteNombre }} </td>
    </ng-container>

    <ng-container matColumnDef="eventoNombre">
      <th mat-header-cell *matHeaderCellDef> Evento </th>
      <td mat-cell *matCellDef="let purchase"> {{ purchase.eventoNombre }} </td>
    </ng-container>

    <ng-container matColumnDef="fechaCompra">
      <th mat-header-cell *matHeaderCellDef> Fecha Compra </th>
      <td mat-cell *matCellDef="let purchase"> {{ purchase.fechaCompra | date: 'short' }} </td>
    </ng-container>

    <ng-container matColumnDef="precioEntrada">
      <th mat-header-cell *matHeaderCellDef> Precio Entrada </th>
      <td mat-cell *matCellDef="let purchase"> {{ purchase.precioEntrada | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="cantidadEntradas">
      <th mat-header-cell *matHeaderCellDef> Cantidad Entradas </th>
      <td mat-cell *matCellDef="let purchase"> {{ purchase.cantidadEntradas }} </td>
    </ng-container>

    <ng-container matColumnDef="precioTotal">
      <th mat-header-cell *matHeaderCellDef> Precio Total </th>
      <td mat-cell *matCellDef="let purchase"> {{ purchase.precioTotal | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let purchase">
        <button mat-button color="warn" (click)="deletePurchase(purchase.idCompra)">Eliminar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
