<app-admin-header></app-admin-header>
<div class="admin-container">
  <h1>Panel de Administración</h1>
  <div class="card-container">
    <div class="card" (click)="navigateTo('usuarios')">Gestión de Usuarios</div>
    <div class="card" (click)="navigateTo('eventos')">Gestión de Eventos</div>
    <div class="card" (click)="navigateTo('compras')">Gestión de Compras</div>
    <div class="card" (click)="navigateTo('roles')">Gestión de Roles</div>
    <div class="card" (click)="navigateTo('discotecas')">Gestión de Discotecas</div>
    <div class="card" (click)="navigateTo('salas')">Gestión de Salas</div>
  </div>
</div>
<app-admin-footer></app-admin-footer>
