.admin-profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  